body{
  font-family: "Montserrat";
}
#title{
  background-color: #9C9EFE;
  color: #fff;

}
html{
  scroll-behavior: smooth;
}

.container-fluid{
  padding: 3% 10%;
}
h1{
  font-family: 'Montserrat' , Black;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

h2{
  font-family: 'Montserrat' ;
  font-weight: 700;
  font-size: 2.5rem;
  padding-top: 5%;
  color: #fff;
}

h3{
  font-family: 'Montserrat';
  font-weight: bold;
}

p{
  color: #8f8f8f;
}
/* Navigation Bar */
.navbar{
  padding:0 0 4.5rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat' , light;
}

/* Button */
.build-button{
  margin: 5% 3% 5% 0;
}


/* Feature Section */
#features{
  padding: 7% 10%;
  background-color: #F9F2ED;
}

.feature-box{
  padding: 5%;
  text-align: center;
}


.icon{
  color: #3330E4;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #0F0BD6;
}


/* Testimonial Section */
#testimonials{
background-color: #9C9EFE;
text-align: center;
}

.show{
  padding: 7% 10%;
  height: 70%;
  width: 100%;
}

#components{
  padding: 100px;
}
.features-img{
  height: 100%;
  width: 100%;

}

.components-column{
  padding: 3% 3%;

}

#components{
    background-color: #F9F2ED;
    text-align: center;
}


.component-name{
  font-size: 1.5rem;
  font-family: 'Montserrat';
  color: #000;
  font-weight: 600;
}

#footer{
  padding: 7% 10%;
  text-align: center;
    background-color: #9C9EFE;
}

.social-icon{
  margin: 20px 10px;
  color: #fff;
}
.footer-text{
  color: #fff;
}
.card{
  background-color: #F9F2ED ;
}

.card-body img{
  width: 100%
  display: block;
  transition: transform 2s;
}

.card-body:hover img{
  transform:scale(1.3);
}

.title-image{
  height: 100px;
  width: 100px;
}

.title-img{
  text-align: center;
}
